<%= render "places/header" %>

  <div class = "search">
        <%= form_with url: places_path, method: :get, class: "d-flex formsearch" do %>
          <%= text_field_tag :query,
            params[:query],
            placeholder: "Find your happy place..."
            %>
          <%=image_submit_tag "loupe.png", name: "", class: "btn_search" %>
        <% end %>
  </div>
<h1>Where you work</h1>

 <div class="container my-2 placecard">
      <% @bookings.each do |booking| %>

        <p>
         Your booking is on: <%= booking.date %>
        </p>
        <p>
          At: <%= booking.time %>
        </p>
        <p>
          For: <%= booking.place.name %>
        </p>
        <p>
        <%= link_to "Confirmation Details", booking_path(booking)%>
        </p>
      <% end %>
</div>
