<div class="place-background" style="background-image: url(<%= @booking.place.photos.first.url %>)">
  <%= render "shared/headerphoto_return"%>

  <div class = "card">
    <h1> Your confirmation </h1>

    <div class ="details">

      <p class = "date">
        <%= @booking.date %>
      </p>

        <div class ="detailsinfo">
          <p class = "time">
            <%= @booking.time %>
          </p>
          <p>
            at
          </p>
          <p class = "location">
            <%= @booking.place.location %>
          </p>
        </div>


        <p class ="advice">
          Please note that your reservation will be valid for 45 minutes on the selected date.
        </p>
    </div>
  </div>

    <%# <h2>We can't wait to see you !</h2> %>

</div>
