<!-- This the Navbar for the Homepage-->

<nav class="navigation-bar">
  <div class="d-flex justify-content-around">
    <a class="navbar-brand" href="/">
      <div class="coffee">
            <%# <%= link_to root_path do %>
            <%= image_tag "coffee-logo.png", class:"icon" %>
            <%# <% end %>
      </div>

    </a>
    <a class="navbar-brand" href="/">
      <div class="calendar">
            <%= image_tag "calendar.png", class:"icon" %>
      </div>

    </a>
    <a class="navbar-brand" href="/">
      <div class="favs">
            <%= image_tag "favorite.png", class:"icon" %>
      </div>
    </a>

    <a class="navbar-brand" href="/">
      <div class="user-pro">
            <%= image_tag "user-profile.png", class:"icon" %>
      </div>
    </a>
  </div>
</nav>
