<%= render "shared/headerlogo"%>
<div class = "container d-flex justify-content-between">
    <div class= "empty-image"></div>
    <%= image_tag "leane.jpeg", class:"photo"%>
    <div class= "empty-image"></div>
    <%# </div> %>

</div>
<div>
<%= link_to "My Reviews", reviews_path, class: "button1"%>
</div>

<div>
    <h5>
    My Upcoming Reservation:
    </h5>
    <div>
      <div>
        <h1><%= @upcoming_booking.place.name %></h1>
      </div>
      <%= @upcoming_booking.time %>
    </div>
</div>



<div>

  <h5>
    My Favorites:
  </h5>
 </div>
