<%= render "shared/headerlogo"%>
<div class = "container d-flex justify-content-between">
    <div class= "empty-image"></div>
    <%= image_tag "leane.jpeg", class:"photo"%>
    <div class= "empty-image"></div>
    <%# </div> %>

</div>
<div>
<%= link_to "My Reviews", reviews_path, class: "button1"%>
</div>


<h5> My Upcoming Reservation </h5>
<div class= "place-info">
  <a href="<%= place_path(@upcoming_booking.place) %>">
  <div class="cardforplace" style="background-image: url(<%= @upcoming_booking.place.photos.first.url %>)">
    <div class = "card-place-profile">
          <div class ="card-place-info">
            <div class= "card-place-name">
              <h6><%= @upcoming_booking.place.name %></h6>
            </div>
          </div>
        </div>
      </div>
      <div class = "card-place-timing">
      <%= @upcoming_booking.time.strftime("%A, %d %b %Y %l:%M %p") %>
      </div>
  </a>
  </div>
</div>



<h5> My Favorites </h5>
<div class= "favcardcar">
  <% @favorites.each do |favorite| %>
    <a href="<%= place_path(favorite.place) %>">
      <div class= "favcard">
        <div class="cardforplace1" style="background-image: url(<%= favorite.place.photos.first.url %>)">
          <div class ="fond1">
          </div>
        </div>
        <div class= "favplacename">
          <%= favorite.place.name %>
        </div>
      </div>
    </a>
  <% end %>

</div>
