
<!--This is the place card partial
We can use it to render a card of a particular place wherever we want
This will be especially used on the index page
But also other places, like Upcoming Reservation

It will have a picture of the place
Important details like name, description, location, rating, opening hour
Availability
Distance from you
And have buttons
Linking to the show page
to the make-a-reservation page
And to the menu
And others-->

<%# <div class="row"> %>

<a href="<%= place_path(place) %>">
  <div class= "Card-place" style= "background-image: url('<%= cl_image_path place.photos.first.key %>')">
    <div data-insert-in-list-target="items" class= "cards">


      <div class="card-info">

        <div>
          <p class = "card-place-name">
          <%= place.name.capitalize %>
          </p>
        </div>



        <div class = "Rating">
          <p class = "card-place-rate">
            <%= place.rating %>
          </p>
          <%= image_tag "etoile.png", class:"logo"%>
        </div>


      </div>

    </div>
  </div>
</a>
