<!-- places index -->

<!--This page will be the index of all the place. It will have a search bar
to search for particular names. Different sorting functions like alphabetically
or by distance and various filters like distance, rating, other things.-->

<%# This is the home page %>

  <%= render "header" %>

  <h1>Good Morning,
  name...</h1>
  <div class = "search">
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: places_path, method: :get, class: "d-flex formsearch" do %>
          <%= text_field_tag :query,
            params[:query],
            placeholder: "Find your happy place..."
            %>
          <%=image_submit_tag "loupe.png", name: "", class: "btn_search" %>
        <% end %>
      </div>
    </div>
  </div>


  <!-- This where the List view starts -->

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
        type="button" role="tab" aria-controls="home" aria-selected="true">List</button>
    </li>

  <!-- This where the Map view starts -->
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
        type="button" role="tab" aria-controls="profile" aria-selected="false">Map</button>
    </li>
  </ul>

    <div class="tab-content" id="myTabContent"> <!-- This is the content inside the List view -->
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="container my-2">
          <div class="row">
            <div id="places" data-insert-in-list-target="items" class= "cards">
                <% @places.each do |place| %>
                  <%= render place %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Tab 2</div>


  </div>
