<!-- this page is the show page of the index, you arrive on this page when you
click on a place. The purpose of this page is to see more details about the place
you will book-->

<%# Path: app/views/places/show.html.erb %>


  <%# <form class= "return_btn"> %>

  </form><%= render "headerphoto+return"%>

      <%# <br> %>
    <div class = "cardinfo" >
      <div class = "nameplace">
        <%= @place.name %>
      </div>

      <div class = "locationplace">
        <%= @place.location %>
      </div>

      <div class = "rateplace">
        <%= @place.rating %>
        <%= image_tag "etoile.png", class:"star"%>
      </div>

      <div class="d-flex">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btnmenu">
          See Menu
        </button>

        <%= link_to "Make  reservation", new_place_booking_path(@place) , class:"resa" %>
        <!-- Button trigger modal -->

        <%=image_submit_tag "favorite.png", name: "", class: "fav" %>
      </div>

      <div class = "descriptionplace">
        <%= @place.description %>
      </div>



<!-- <%= #if @favorite.place_id.user_id = current_user.id class = bttn_heart_on (which colors it in and disables it) %> -->
    <div>
      <%= link_to "Favorite",
          place_favorites_path(@place),
          data: {turbo_method: :post}
        %>
    </div>

    <div>
      <%= link_to "Leave a Review",
          new_place_review_path(@place)
        %>
    </div>


  <!--Here is the link to the bookings page-->



    </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
