<!-- this page is the show page of the index, you arrive on this page when you
click on a place. The purpose of this page is to see more details about the place
you will book-->

<%# Path: app/views/places/show.html.erb %>
<div class="place-background" style="background-image: url(<%= @place.photos.first.url %>)">
  <div class ="fond">

  <%= render "shared/headerphoto_return"%>

      <%# <br> %>
    <div class = "cardinfo" >
      <div class = "nameplace">
        <%= @place.name %>
      </div>

      <div class = "locationplace">
        <%= @place.location %>
      </div>

      <div class = "rateplace">
        <%= @place.rating %>
        <%= image_tag "star.png", class:"star"%>
      </div>

      <div class="d-flex justify-content-between mt-4">
        <div class="d-flex">
          <button data-bs-toggle="modal" data-bs-target="#menuModal" class="btnmenu">
            See Menu
          </button>

          <%= link_to "Make  reservation", new_place_booking_path(@place) , class:"resa" %>
          <!-- Button trigger modal -->
        </div>
        <% if @favorite.nil? %>
          <%= form_with url: place_favorites_path(@place) do |f| %>
            <%= image_submit_tag "coeur.png", name: "", class: "fav"  %>
          <% end %>
        <% else %>
          <%= form_with url: favorite_path(@favorite), method: :delete do |f| %>
            <%= image_submit_tag "heart-complete.png", name: "", class: "fav"  %>
          <% end %>
        <% end %>
        <%# button_to place_favorites_path(@place), method: :post, class: "heart-empty fav" %>
          <%#image_submit_tag "coeur.png", name: "", class: "fav" %>
        <%# end %>

      </div>

      <div class = "descriptionplace">
        <%= @place.description %>
      </div>




<%# if @favorite.place_id.user_id = current_user.id class = bttn_heart_on (which colors it in and disables it) %>





<!-- Here it iterates through all the reviews that a place has and renders them -->
    <!-- Modal Reviews -->
  <div>
    <div class="alignbutton">
      <button type="button" class="btnmenureviews" data-bs-toggle="modal" data-bs-target="#reviewModal">
        See reviews
      </button>
      </div>
        <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">
              <p class = "filtertitle"> Reviews </p>
              <% @reviews.each do |review| %>
                <div class ="comments">
                  <div class ="username">
                    <%= review.user.username %>
                  </div>
                <div class ="commentaire">
                  <div class ="content">
                    <%= review.content %>
                  </div>
                  <div class ="opinion">
                    <div>
                      <%= review.rating %>
                    </div>
                    <div>
                      <%=image_tag "star.png", name: "", class: "starsizemodal" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end  %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Here is the link to the bookings page-->



    </div>




  <!-- Modal Menu -->
  <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if @place.menuboard.attached? %>
            <%= cl_image_tag @place.menuboard.key, width: 325 %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
